*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* -------------NAVBAR */

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
    background:rgb(20, 19, 19);
    color:white;
    position:sticky;
    
}

.logo{
    font-size:28px;
    font-weight:bold;
    margin-left:40px;
}

/* --------------------GRID ----------*/

.nav-links{
    display:grid;
    grid-template-columns:repeat(5,auto);
    gap:35px;
    list-style:none;
    margin-right:40px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:17px;
}

.nav-links a:hover{
    color:#5a9cec;
}
 /*-------------- HAMBURGER  ---------*/

.menu-btn{
    display:none;
    font-size:30px;
    border:none;
    background:none;
    color:white;
    cursor:pointer;

}

/*-----------MOBILE----------- */

@media(max-width:768px){
   .navbar{
     flex-wrap:wrap;
    }

    .menu-btn{
      display:block;
    }

    .nav-links{
      width:100%;
      grid-template-columns:repeat(1,auto);
      text-align:center;
      gap:0;
      overflow:hidden;
      max-height:0;
      background:#111827;
      margin-top:20px;
    }

    .nav-links.active{
      max-height:400px;
    }

   .nav-links li{
     padding:18px 0;
     border-top:1px solid rgba(255,255,255,.15);
    }
}

/* ----login page------- */

/*MOBILE MENU-------*/

.mobile-menu{
    display:none;
    background:white;
    border-top:1px solid #ddd;
}

.mobile-menu a{
    display:block;
    padding:15px;
    text-decoration:none;
    color:#222;
    border-bottom:1px solid #eee;
}

.mobile-menu a:hover{
    background:#f0f4ff;
}

/* ------------ HERO SECTION------ */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    padding:70px 8%;
}

/* -------LEFT SIDE--------*/

.left{
    flex:1;
}

.badge{
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:8px 18px;
    border-radius:30px;
    margin-bottom:20px;
}

.left h1{
    font-size:52px;
    margin-bottom:20px;
}

.left p{
    font-size:18px;
    color:#555;
    margin-bottom:30px;
}

/*--------FEATURES---- */

.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:10px;
    border:1px solid #ddd;
    font-weight:bold;
}

.card:hover{
    background:#2563eb;
    color:white;
}

/* -----RIGHT SIDE------*/

.right{
    flex:1;
    display:flex;
    justify-content:center;
}

/* -----FORM BOX--------*/

.form-box{
    width:100%;
    max-width:420px;
    background:#fff;
    padding:35px;
    border-radius:12px;
    border:1px solid #ddd;
    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

/*-------TABS --------- */

.tabs{
    display:flex;
    margin-bottom:30px;
    border-radius:8px;
    overflow:hidden;
    border:1px solid #ddd;

}

.tab{
    flex:1;
    padding:14px;
    border:none;
    background:#f5f5f5;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.tab:hover{
    background:#e9ecef;
}

.tab.active{

    background:#2563eb;
    color:white;
    font-weight:bold;
}

/* ----------FORM -------- */

form{

    display:flex;

    flex-direction:column;

    gap:18px;

}

/* -------------- INPUT GROUP --------- */

.input-group{

    display:flex;

    flex-direction:column;

    gap:8px;

}

/* ----------LABEL-----------*/

label{
    font-size:15px;
    font-weight:600;
    color:#333;
}

/* -------INPUT------  */

input{
    width:100%;
    padding:12px 15px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:8px;
    transition:.3s;

}

input:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 5px rgba(37,99,235,.25);

}

/* --------------BUTTON --------*/

.submit-btn{
    margin-top:10px;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;

}

.submit-btn:hover{
    background:#1d4ed8;
}

/*--------RESPONSIVE--------*/

@media(max-width:768px){

.nav-links{
    display:none;
}

.menu-btn{
    display:block;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.features{
    grid-template-columns:1fr;
}

.left h1{
    font-size:38px;
}

.form-box{
    width:100%;
}
   /* --------wellness form------- */
.form-row{
        grid-template-columns:1fr;
    }

.checkbox-grid{
        grid-template-columns:1fr;
    }

.wellness-form{
        padding:20px;
    }


}


/* ------------wellness form----- */

.wellness-container{
    width:100%;
    padding:60px 20px;
    display:flex;
    justify-content:center;
    background:#7dadf5;

}

.wellness-form{

    width:100%;
    max-width:850px;
    background:#ee6c6c;
    border:1px solid #ddd;
    border-radius:10px;
    padding:35px;

}

.wellness-form h2{
    text-align:center;
    margin-bottom:35px;
}

.form-section{
    margin-bottom:30px;
}

.form-section h3{
    margin-bottom:18px;
    color:#0b121c;
    border-bottom:1px solid #ddd;
    padding-bottom:8px;

}

.form-row{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;

}

.input-group{
    display:flex;
    flex-direction:column;
    margin-bottom:18px;
}

.input-group label{
    margin-bottom:8px;
    font-weight:600;
}

.wellness-form input,
.wellness-form select,
.wellness-form textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}

.checkbox-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.checkbox-grid label{
    display:flex;
    align-items:center;
    gap:8px;

}

.checkbox-grid input{
    width:auto;
}

.save-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:6px;
    background:#2563eb;
    color:#fff;
    font-size:16px;
    cursor:pointer;

}

.save-btn:hover{
    background:#1d4ed8;
}
